<div class="games-container">
  <h1>Недавно обновлённые</h1>
  <p>
    Внезапно, ключевые особенности структуры проекта являются только методом политического участия и своевременно верифицированы. Таким образом, начало повседневной работы по формированию позиции, в своём классическом представлении, допускает внедрение поэтапного и последовательного развития общества. Есть над чем задуматься: реплицированные с зарубежных источников, современные исследования призывают нас к новым свершениям, которые, в свою очередь, должны быть обнародованы!
  </p>

  <div *ngIf="isLoading" class="loading">
    Loading games...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <app-list-of-games></app-list-of-games>
</div>
