# Бэкенд (Java/Maven)
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Фронтенд (Angular)
/dist
/tmp
/out-tsc
/bazel-out
/node_modules
npm-debug.log
yarn-error.log
.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
/testem.log
/typings

# Системные файлы/IDE
.DS_Store
Thumbs.db
.idea/
*.iws
*.iml
*.ipr
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*