<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-brand">GameShop</a>

    <div class="navbar-links">
      @if (isAdmin()) {
      <a routerLink="/clients-data" class="nav-link">Пользователи</a>
      <a routerLink="/games-data" class="nav-link">Игры</a>
      <a routerLink="/companies-data" class="nav-link">Компании</a>
      }

      @if (isUser()) {
      <a routerLink="/games" class="nav-link">Игры</a>
      <a routerLink="/new-game" class="nav-link">Новинки</a>
      <a routerLink="/updated-game" class="nav-link">Обновления</a>
      <a routerLink="/top-game" class="nav-link">Топ игры</a>
      <a routerLink="/random-game" class="nav-link">Рандом</a>
      }
    </div>

    <div class="navbar-actions">
      <button routerLink="/login" class="logout-button">Вход</button>
    </div>
  </div>
</nav>
