.navbar {
  width: 100%;
  color: white;
  padding: 0;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 5000px;
  margin: 0 auto;
  padding-right: 3rem;
}

.navbar-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 5000px;
  margin: 0 auto;
  padding-right: 3rem;
}

.navbar-data-container .navbar-links{
  background: #3394BE;
  padding: 0 4rem 0 1rem;
  display: flex;
  justify-content: left;
  text-transform: uppercase;
  gap: 0;
}

.navbar-links {
  background: #1B1B1B;
  padding: 0 4rem 0 1rem;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  gap: 0;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  transition: all 0.3s ease;
  position: relative;
}

.nav-link:hover {
  color: rgba(255, 50, 50, 0.2);
}

.nav-link.active {
  color: #CC182E;
}

.nav-link.active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 10%;
  width: 80%;
  height: 2px;
  background: #CC182E;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.logout-button {
  background: #CC182E;
  color: white;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  border-radius: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.logout-button:hover {
  background: #CC182E;
  border-color: #666;
}
