<div class="games-wrapper">
  <div class="games-grid">
    <div class="game-card" *ngFor="let game of data" (click)="navigateToGame(game)">
      <div class="image">
        <img *ngIf="hasImages(game)" [src]="getFirstImageUrl(game)" [alt]="game.title">
        <div *ngIf="!hasImages(game)" class="no-image">No image</div>
      </div>
      <div class="game-info">
        <h3 class="title">{{ game.title }}</h3>
        <p class="context">{{ game.context }}</p>
        <p class="cost" [class.free]="game.cost === 0">
          {{ game.cost === 0 ? 'Бесплатно' : (game.cost + ' Р') }}
        </p>
      </div>
    </div>
  </div>
</div>
