<div class="games-wrapper">
  <div class="games-grid">
    <div class="game-card" *ngFor="let game of data">
      <div class="image">
        <!-- Отображаем первое изображение, если оно есть -->
        <img *ngIf="hasImages(game)" [src]="getFirstImageUrl(game)" [alt]="game.title">
        <div *ngIf="!hasImages(game)" class="no-image">No image</div>
      </div>
      <h3 class="title">{{ game.title }}</h3>
      <p class="genre" *ngFor="let genre of game.genre">{{ genre }}</p>
    </div>
  </div>
</div>
