<div class="games-container">
  <h1>ТОП ПК игр</h1>

  <p>
    Разнообразный и богатый опыт говорит нам, что курс на социально-ориентированный национальный проект предопределяет высокую востребованность вывода текущих активов. Безусловно, дальнейшее развитие различных форм деятельности предоставляет широкие возможности для переосмысления внешнеэкономических политик. Приятно, граждане, наблюдать, как непосредственные участники технического прогресса лишь добавляют фракционных разногласий и функционально разнесены на независимые элементы.
  </p>

  <div *ngIf="isLoading" class="loading">
    Loading games...
  </div>

  <div *ngIf="error" class="error">
    {{ error }}
  </div>

  <app-list-of-games></app-list-of-games>
</div>
