<h1>Новые игры</h1>
<p>В игровой индустрии понятие «новинка» - штука неоднозначная: с одной стороны, новое на то и новое, что вышло в свет недавно, если не сегодня, и все хотят в это поиграть; с другой – есть категория геймеров, которые не смогли в свое время опробовать тот или иной, не обязательно, нашумевший медиапродукт. К сожалению для последних, в этом разделе собираются только самые актуальные, самые интересные и самые востребованные проекты, выпущенные за последнее время.

  Здесь каждый сможет найти интересующую его новинку разных жанров.

  Новинки игр всегда ожидаются с особым трепетом. На этой странице мы размещаем не только материал с готовыми к загрузке торрент-файлами, но и так контент будущего, с соответствующей пометкой «ожидаемые». Делается это для того, чтобы каждый получил информацию о дате выхода той или иной игры, добавил публикацию в избранное и получил на свою почту уведомление о том, что проект вышел, а хеш-файл стал доступным к скачиванию.</p>

<app-list-of-games></app-list-of-games>
